{% extends 'base.html' %}
{% block title %}
    Add words
{% endblock %}
{% block content %}
    <h2>Add new Words</h2>
    <form method="post" action="">
        {% csrf_token %}
        <label for="word">Word:</label>
        <input type="text" id="word" name="word">
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description">
        <br>
        <button type="submit">Add</button>
        <button type="reset">Clear</button>
    </form>
{% endblock %}
