{% extends 'base.html' %}

{% block title %}
    Words List
{% endblock %}

{% block content %}

    <table class="words_list" title="table" style="margin: 10px; border: 3px darkgreen dashed">
        <h2>Words Dictionary</h2>
        <th>Word</th>
        <th>Description</th>
        {% for i in words %}
            <tr>
                <td>{{ i.word }}</td>
                <td>{{ i.description }}</td>
            </tr>
        {% empty %}
            ¯\_(ツ)_/¯ list is empty.
        {% endfor %}
    </table>



{% endblock %}
